[2018-05-16 12:51] mitchellryant opened #8 "USGS 2015 Upper Clear Creek Brazos"
Please reassign issues when your work is complete.

**Data**
- [x] Add data to measures spreadsheet @ThorTheDestroyer
- [ ] Route Data Shipment [copy data to TNRIS Projects share] @ThorTheDestroyer
- [x] Data Processing [renaming file, data organization]  @ThorTheDestroyer
- [x] Creation of derivative products @ThorTheDestroyer
- [ ] Quality Assurance @ThorTheDestroyer

**DataHub**
- [x] Create co

[2019-06-17 15:33] ThorTheDestroyer opened #7 "USGS 2018 Lower Colorado & San Bernard"
Please reassign issues when your work is complete.

**Data**
- [x] Add data to measures spreadsheet @ThorTheDestroyer
- [X] Route Data Shipment [copy data to TNRIS Projects share] @ThorTheDestroyer
- [x] Data Processing [renaming file, data organization]  @ThorTheDestroyer
- [x] Creation of derivative products [hypso and metadata] @ThorTheDestroyer
- [x] Quality Assurance @ThorTheDestroyer

**Data

[2019-07-01 20:04] ThorTheDestroyer opened #6 "USGS 2018 Eastern Texas"
Please reassign issues when your work is complete.

**Data**
- [x] Add data to measures spreadsheet @ThorTheDestroyer
- [x] Route Data Shipment [copy data to TNRIS Projects share] @ThorTheDestroyer
- [x] Data Processing [renaming file, data organization]  @ThorTheDestroyer
- [x] Creation of derivative products [hypso and metadata] @ThorTheDestroyer
- [x] Quality Assurance @ThorTheDestroyer

**Data

[2019-07-09 18:42] mitchellryant opened #5 "Land Parcels"
Please reassign issues when your work is complete.

**Data**
- [ ] Add data to StratMap Measures spreadsheet @ilyannakadich
- [ ] Route Data Shipment [copy data to TNRIS Projects share (R:\)] @ilyannakadich
- [ ] Data Processing [renaming file, data organization]  @ilyannakadich
[code]
- [ ] Quality Assurance @ilyannakadich

**DataHub**
- [ ] Complete console collection form at https://api.tnris.o

[2019-07-09 18:43] mitchellryant opened #4 "Address Points"
Please reassign issues when your work is complete.

**Data**
- [ ] Add data to measures spreadsheet @ilyannakadich
- [x] Route Data Shipment [copy data to TNRIS Projects share] @ilyannakadich
- [x] Data Processing [renaming file, data organization]  @ilyannakadich
[code]
- [x] Quality Assurance @ilyannakadich

**DataHub**
- [x] Create collection @mitchellryant
- [x] Complete console collection for

[2019-08-19 20:27] mitchellryant opened #3 "USGS South Texas"
Please reassign issues when your work is complete.

**Data**
- [ ] Add data to measures spreadsheet @ThorTheDestroyer
- [x] Route Data Shipment [copy data to TNRIS Projects share] @ThorTheDestroyer
- [x] Data Processing [renaming file, data organization, data conversion]  @mitchellryant
- [x] Creation of derivative products [hypso and metadata] @ThorTheDestroyer
- [x] Quality Assurance @ThorTheDes

[2019-09-06 16:34] mitchellryant opened #1 "NAIP 2018-2019"
Please reassign issues when your work is complete.

**Data**
- [x] Enter dataset on StratMap Incoming data xlsx sheet @gmullins
- [x] Route Data Shipment (copy data to TNRIS Projects share) @LaurenKirk
- [x] Data Processing (renaming file, data organization) @mitchellryant
- [x] Creation of derivative products [compressed images] @LaurenKirk @csidenblad
- [x] Quality Assurance @LaurenKirk @csidenb

[2019-09-06 16:53] mitchellryant opened #2 "USACE 2018 Buffalo Bayou lidar"
Please reassign issues when your work is complete.

**Data**
- [ ] Add data to measures spreadsheet @ThorTheDestroyer
- [x] Route Data Shipment [copy data to TNRIS Projects share] @ThorTheDestroyer
- [x] Data Processing [renaming file, data organization]  @ThorTheDestroyer
- [x] Creation of derivative products [hypso and metadata] @ThorTheDestroyer
- [ ] Quality Assurance @ThorTheDestroyer

**Data

[2019-09-06 16:59] ThorTheDestroyer opened #9 "Missouri City 2019"
**Data**
- [x] Add data to measures spreadsheet @ThorTheDestroyer
- [x] Route Data Shipment [copy data to TNRIS Projects share] @ThorTheDestroyer
- [x] Data Processing [renaming file, data organization]  @ThorTheDestroyer
- [x] Creation of derivative products [hypso and metadata] @ThorTheDestroyer
- [x] Quality Assurance @ThorTheDestroyer

**DataHub**
- [x] Create collection @mitchellryant
- [x] C

[2019-09-06 16:59] #9 closed

[2019-09-06 19:44] #10 closed

[2019-09-06 19:45] mitchellryant opened #10 "new dataset: NLCD 2016"
Please reassign issues when your work is complete.

**Data**
- [x] Add data to measures spreadsheet @gmullins
- [x] Route Data Shipment [copy data to TNRIS Projects share] @gmullins
- [x] Data Processing [renaming file, data organization]  @LaurenKirk @csidenblad
- [x] Creation of derivative products @LaurenKirk @csidenblad
- [x] Quality Assurance @LaurenKirk @csidenblad @gmullins

**DataHub**
- [

[2019-09-06 19:45] ThorTheDestroyer opened #11 "new dataset: USGS 2017 Brazos, Freestone, Robertson"
Please reassign issues when your work is complete.

**Data**
- [x] Add data to measures spreadsheet @ThorTheDestroyer
- [x] Route Data Shipment [copy data to TNRIS Projects share] @ThorTheDestroyer
- [x] Data Processing [renaming file, data organization]  @ThorTheDestroyer
- [x] Creation of derivative products @ThorTheDestroyer
- [x] Quality Assurance @ThorTheDestroyer

**DataHub**
- [x] Create co

[2019-09-06 19:45] #11 closed

[2019-09-06 19:45] ThorTheDestroyer opened #12 "new dataset: USGS 2018 South Central Texas"
Please reassign issues when your work is complete.

**Data**
- [x] Add data to measures spreadsheet @ThorTheDestroyer
- [x] Route Data Shipment [copy data to TNRIS Projects share] @ThorTheDestroyer
- [x] Data Processing [renaming file, data organization]  @csidenblad
- [x] Creation of derivative products @csidenblad
- [x] Quality Assurance @ThorTheDestroyer

**DataHub**
- [x] create collection @mi

[2019-09-06 19:45] #12 closed

[2019-09-06 19:46] ThorTheDestroyer opened #13 "new dataset: USGS 2016 Brazos River Basin"
Please reassign issues when your work is complete.

**Data**
- [x] Add data to measures spreadsheet @ThorTheDestroyer
- [x] Route Data Shipment [copy data to TNRIS Projects share] @csidenblad
- [x] Data Processing [renaming file, data organization]  @ThorTheDestroyer
- [x] Creation of derivative products @ThorTheDestroyer
- [x] Quality Assurance @ThorTheDestroyer

**DataHub**
- [x] Create collecti

[2019-09-06 19:46] #13 closed

[2019-09-06 19:46] ThorTheDestroyer opened #14 "new dataset: USGS 2017 Red River"
Please reassign issues when your work is complete.

**Data**
- [x] Add data to measures spreadsheet @ThorTheDestroyer
- [x] Route Data Shipment [copy data to TNRIS Projects share] @LaurenKirk
- [x] Data Processing [renaming file, data organization]  @LaurenKirk
- [x] Creation of derivative products @LaurenKirk
- [x] Quality Assurance @ThorTheDestroyer

**DataHub**
- [x] Create collection @mitchell

[2019-09-06 19:46] #14 closed

[2019-09-06 19:46] ThorTheDestroyer opened #15 "new dataset: USGS 2018 Lavaca Wharton"
Please reassign issues when your work is complete.

**Data**
- [x] Add data to measures spreadsheet @ThorTheDestroyer
- [x] Route Data Shipment [copy data to TNRIS Projects share] @ThorTheDestroyer
- [x] Data Processing [renaming file, data organization]  @ThorTheDestroyer
- [x] Creation of derivative products @ThorTheDestroyer
- [x] Quality Assurance @ThorTheDestroyer

**DataHub**
- [x] Create co

[2019-09-06 19:46] #15 closed

[2019-09-06 19:48] ThorTheDestroyer opened #16 "StratMap 2018 Upper Coast"
**Data**
- [x] Add data to measures spreadsheet @ThorTheDestroyer
- [x] Route Data Shipment [copy data to TNRIS Projects share] @ThorTheDestroyer
- [x] Data Processing [renaming file, data organization]  @ThorTheDestroyer
- [x] Creation of derivative products @ThorTheDestroyer
- [x] Quality Assurance @ThorTheDestroyer

**Publication**
- [x] Move to Content Creation @ThorTheDestroyer
- [ ] Data Sto

[2019-09-06 19:48] #16 closed

[2019-09-06 19:48] gmullins opened #17 "new dataset: StratMap 2018 Cap Area+"
2018 Capital Area / McLennan Co Orthoimagery

**Data**
- [x] Add data to measures spreadsheet @gmullins
- [x] Route Data Shipment [copy data to TNRIS Projects share] @gmullins
- [x] Data Processing [renaming file, data organization] @LaurenKirk
- [x] Quality Assurance aka Inspection @LaurenKirk

**Publication**
- [x] Coverage Map @mitchellryant
- [x] Data Publication [data catalog text\images, bre

[2019-09-06 19:48] #17 closed

[2019-09-06 19:48] ThorTheDestroyer opened #18 "new dataset: Stratmap 2018 Crockett County"
**Data**
- [x] Add data to measures spreadsheet @ThorTheDestroyer
- [x] Route Data Shipment [copy data to TNRIS Projects share] @ThorTheDestroyer
- [x] Data Processing [renaming file, data organization]  @LaurenKirk
- [x] Creation of derivative products @LaurenKirk
- [x] Quality Assurance @ThorTheDestroyer

**Publication**
- [x] Move to Content Creation @ThorTheDestroyer
- [x] Coverage Map @mitche

[2019-09-06 19:48] #18 closed

[2019-09-06 19:48] mitchellryant opened #19 "new dataset: StratMap 2018 Smith+"
**Data**
- [x] Add data to measures spreadsheet @gmullins
- [x] Route Data Shipment [copy data to TNRIS Projects share] @gmullins
- [x] Data Processing [renaming file, data organization] @LaurenKirk
- [x] Quality Assurance aka Inspection @LaurenKirk

**Publication**
- [x] Coverage Map @mitchellryant
- [x] Data Publication [data catalog text\images, breakline\reports staging] @gmullins
- [ ] Data S

[2019-09-06 19:48] #19 closed

[2019-09-06 19:48] gmullins opened #20 "new dataset: CRWR Address Points"
A new data card needs to be created for the CRWR Address Points. This is a soft release, so no Latest News article necessary.

[2019-09-06 19:48] #20 closed

[2019-09-06 19:49] mitchellryant opened #21 "new dataset: USGS 2016 Neches Basin"
**Data**
- [x] Add data to measures spreadsheet @ThorTheDestroyer
- [x] Route Data Shipment [copy data to TNRIS Projects share] @ThorTheDestroyer
- [x] Data Processing [renaming file, data organization] @ThorTheDestroyer
- [x] Creation of derivative products @ThorTheDestroyer
- [x] Quality Assurance @ThorTheDestroyer

**Publication**
- [x] Move to Content Creation @ThorTheDestroyer
- [x] Coverage

[2019-09-06 19:49] #21 closed

[2019-09-06 19:49] mitchellryant opened #22 "new dataset: USGS 2016 Middle Brazos\Lake Whitney"
**Data**
- [ ] Add data to measures spreadsheet @ThorTheDestroyer
- [ ] Route Data Shipment [copy data to TNRIS Projects share] @ThorTheDestroyer
- [x] Data Processing [renaming file, data organization] @LaurenKirk
- [x] Creation of derivative products @LaurenKirk
- [ ] Quality Assurance @ThorTheDestroyer

**Publication**
- [x] Move to Content Creation @LaurenKirk
- [x] Coverage Map @mitchellryant

[2019-09-06 19:49] #22 closed

[2019-09-06 19:49] mitchellryant opened #23 "new dataset: USGS 2014 Jack\Archer"
**Data**
- [ ] Add data to measures spreadsheet @ThorTheDestroyer
- [ ] Route Data Shipment [copy data to TNRIS Projects share] @ThorTheDestroyer
- [x] Data Processing [renaming file, data organization] @csidenblad
- [x] Creation of derivative products @csidenblad
- [ ] Quality Assurance @ThorTheDestroyer
- [x] Create Contour Metadata @csidenblad

**Publication**
- [x] Move to Content Creation @cs

[2019-09-06 19:49] #23 closed

[2019-09-06 19:49] mitchellryant opened #24 "new dataset: USGS 2017 Lake Amistad NRA"
**Data**
- [ ] Add data to measures spreadsheet @ThorTheDestroyer
- [ ] Route Data Shipment [copy data to TNRIS Projects share] @ThorTheDestroyer
- [x] Data Processing [renaming file, data organization] @csidenblad
~~- [ ] Creation of derivative products @csidenblad~~
- [ ] Quality Assurance @ThorTheDestroyer

**Publication**
- [x] Move to Content Creation @csidenblad
- [x] Coverage Map @mitchellr

[2019-09-06 19:49] #24 closed

[2019-09-06 19:49] gmullins opened #25 "new dataset: brazos 2017"
- [x] Add data to measures spreadsheet @gmullins
- [x] Route Data Shipment [copy data to TNRIS Projects share] @mitchellryant
- [x] Data Processing [renaming file, data organization, coverage map] @mitchellryant
- [x] Quality Assurance @gmullins
- [x] Download Prep [zip, copy to s3 bucket] @mitchellryant
- [x] Move data to production shares @mitchellryant
- [x] Data Publication Update data catalog

[2019-09-06 19:49] #25 closed

[2019-09-06 19:49] gmullins opened #26 "new dataset: naip 2016"
- [x] Add data to measures spreadsheet @gmullins
- [x] Route Data Shipment [copy data to TNRIS Projects share] @mitchellryant
- [x] Data Processing [renaming file, data organization, coverage map] @mitchellryant
- [x] Generate compressed JPEG2000 DOQQs @mitchellryant
- [x] Quality Assurance @gmullins
- [x] Inform TNRIS staff of internal data availability @gmullins
- [x] Download Prep [zip, copy to

[2019-09-06 19:49] #26 closed

[2019-09-06 19:51] mitchellryant opened #27 "new data: fema 2016 dewitt"
- [x] Add data to measures spreadsheet @ThorTheDestroyer
- [x] Route Data Shipment [copy data to TNRIS Projects share] @mitchellryant
- [x] Convert data from USNG to USGS (las and dem)
- [x] Data Processing [renaming file, data organization, coverage map] @mitchellryant
- [x] Creation of derviative products @ThorTheDestroyer
- [x] Quality Assurance @ThorTheDestroyer
- [x] Data Publication [Update

[2019-09-06 19:51] #27 closed

[2019-09-06 19:51] mitchellryant opened #28 "new dataset: top 2015 south (blue and purple area)"
- [x] Add data to measures spreadsheet @gmullins
- [x] Route Data Shipment [copy data to TNRIS Projects share] @gmullins
- [x] Data Processing [renaming file, data organization] @mitchellryant
- [x] Generate MX DOQQs as JPEG2000s @mitchellryant
- [x] Spotcheck MX JPEG2000s @gmullins
- [x] Aquisition dates on MX DOQQ filenames @mitchellryant
- [x] Metadata for MX DOQQs @gmullins
- [x] Name and make

[2019-09-06 19:51] #28 closed

[2019-09-06 19:51] mitchellryant opened #29 "new dataset: top 2015 south central (green area)"
- [x] Add data to measures spreadsheet @gmullins
- [x] Route Data Shipment [copy data to TNRIS Projects share] @gmullins
- [x] Data Processing [renaming file, data organization, coverage map] @mitchellryant
- [x] Quality Assurance @gmullins
- [x] Download Prep [zip, copy to s3 bucket] @mitchellryant
- [x] Move data to production shares @mitchellryant
- [x] Add to Data Download @wilsaj https://gith

[2019-09-06 19:51] #29 closed

[2019-09-06 19:51] mitchellryant opened #30 "new dataset: top 2015 east texas (gray area)"
- [x] Add data to measures spreadsheet @gmullins
- [x] Route Data Shipment [copy data to TNRIS Projects share] @gmullins
- [x] Data Processing [renaming file, data organization, coverage map] @mitchellryant
- [x] Quality Assurance @gmullins
- [x] Download Prep [zip, copy to s3 bucket] @mitchellryant
- [x] Move data to production shares @mitchellryant
- [x] Add to Data Download @wilsaj https://gith

[2019-09-06 19:51] #30 closed

[2019-09-06 19:51] mitchellryant opened #31 "new dataset: HPIDS 2016 SARA 12in"
wpd for HPIDS 2016 SARA 12in
- [x] Add data to measures spreadsheet @gmullins
- [x] Route Data Shipment [copy data to TNRIS Projects share] @mitchellryant
- [x] Data Processing [renaming file, data organization, coverage map] @mitchellryant
- [x] Quality Assurance @gmullins
- [x] Download Prep [zip, copy to s3 bucket] @mitchellryant
- [x] Move data to production shares @mitchellryant
- [x] Add to

[2019-09-06 19:51] #31 closed

[2019-09-06 19:52] mitchellryant opened #32 "new dataset: TOP 2015 Centralish (pink area)"
- [x] Add data to measures spreadsheet @gmullins
- [x] Route Data Shipment [copy data to TNRIS Projects share] @gmullins
- [x] CCMs Quality Assurance @gmullins
- [x] Data Processing [renaming file, data organization, coverage map] @mitchellryant
- [x] JP2s Quality Assurance @gmullins
- [x] Download Prep [zip, copy to s3 bucket] @mitchellryant
- [x] Move data to production shares @mitchellryant
- [

[2019-09-06 19:52] #32 closed

[2019-09-06 19:52] mitchellryant opened #33 "new dataset: HGAC 2008 Lidar"
wpd process for incoming lidar data.
- [x] Add data to measures spreadsheet @ThorTheDestroyer
- [x] Route Data Shipment @ThorTheDestroyer
- [x] Data Processing [renaming file, data organization, coverage map] @mitchellryant
- [x] Quality Assurance @ThorTheDestroyer
- [x] Move data to production shares @mitchellryant
- [x] Data Publication [Update data catalog sheet, create data catalog images, sup

[2019-09-06 19:52] #33 closed

[2019-09-06 19:52] mitchellryant opened #34 "new dataset: HPIDS 2016 Smith"
wpd process for HPIDS 2016 Smith County
- [x] Add data to measures spreadsheet @gmullins
- [x] Route Data Shipment @gmullins
- [x] Data Processing [renaming file, data organization, coverage map] @mitchellryant
- [x] Quality Assurance @gmullins
- [x] Download Prep [zip, copy to s3 bucket] @mitchellryant
- [x] Move data to production shares @mitchellryant
- [x] Add to Data Download @wilsaj https://

[2019-09-06 19:52] #34 closed

[2019-09-06 19:52] #35 closed

[2019-09-06 19:52] mitchellryant opened #35 "new dataset: HPIDS 2015 NGA"
WPD process to add new dataset TOP 2015 NGA areas
- [x] Add data to measures spreadsheet @gmullins
- [x] Route Data Shipment @gmullins
- [x] Data Processing [renaming file, data organization, coverage map] @mitchellryant
- [x] Quality Assurance @gmullins
- [x] Download Prep [zip, copy to s3 bucket] @mitchellryant
- [x] Move data to production shares @mitchellryant
- [x] Add to Data Download @wilsa

[2019-09-06 19:52] mitchellryant opened #36 "new dataset: TOP 2015 North Texas"
- [x] Add data to measures spreadsheet @gmullins
- [x] Route Data Shipment @gmullins
- [x] Data Processing [renaming file, data organization, coverage map]@mitchellryant
- [x] Quality Assurance @gmullins
- [x] Download Prep [zip, copy to s3 bucket] @mitchellryant
- [x] Data Publication [Update data catalog sheet, create data catalog images, data story] @gmullins
- [x] Add to Data Download @wilsaj

[2019-09-06 19:52] #36 closed

[2019-09-06 19:54] #37 closed

[2019-09-06 19:54] mitchellryant opened #37 "new dataset: HPIDS 2015 TPWD"
WPD for incoming new dataset TOP 2015 TPWD areas
- [x] Add data to measures spreadsheet @gmullins
- [x] Route Data Shipment @gmullins
- [x] Data Processing [renaming file, data organization, coverage map] @mitchellryant
- [x] Quality Assurance @gmullins
- [x] Download Prep [zip, copy to s3 bucket] @mitchellryant
- [x] Move data to production shares @mitchellryant
- [x] Add to Data Download @wilsaj

[2019-09-09 12:18] mitchellryant commented on #1
@LaurenKirk @csidenblad please create an index for both tif and Jp2 and check to see if all images were converted.

[2019-09-11 19:21] mitchellryant commented on #1
@gmullins have you heard anything on the metadata?

[2019-09-11 19:58] gmullins commented on #1
@mitchellryant Not yet. Putting out another feeler.

[2019-09-11 22:27] csidenblad commented on #1
@mitchellryant All tiles have been converted and index created. Index can be found in R:\StratMap\Orthoimagery\naip-2019-nc-cir-60cm named after collection.

[2019-09-17 18:02] csidenblad opened #39 "Historic Imagery Harris 1944 USDA"
Please reassign issues when your work is complete.

**Data**
- [ ] Data Processing (renaming file, data organization) @csidenblad
- [ ] Creation of derivative products [compressed images] @csidenblad
- [ ] Quality Assurance @LaurenKirk @csidenblad

**DataHub**
- [ ] Create collection @mitchellryant
- [ ] Complete console collection form including metadata and description @csidenblad
- [ ] Create I

[2019-09-17 19:57] mitchellryant commented on #2
@christoball images are here - vault/Website/datacatalog/images/usace18-50cm-buffalobayou

[2019-09-17 20:08] christoball commented on #2
@mitchellryant I've uploaded the cropped and resized images to the admin console

[2019-09-17 20:10] mitchellryant commented on #2
@ThorTheDestroyer please add the description.

[2019-09-18 12:41] mitchellryant commented on #2
@christoball i place a 3rd image in the dir (coverage.jpg). can you crop and upload? it is a coverage map for the collection. This collection is unlike any others, flown in swaths and covering just Buffalo Bayou in Harris County. The third image will help users understand what is covers.

[2019-09-18 13:18] #7 closed

[2019-09-18 14:48] christoball commented on #2
@mitchellryant image is now uploaded

[2019-09-18 14:50] mitchellryant commented on #2
@christoball thank you

[2019-09-18 18:40] mitchellryant commented on #2
@ThorTheDestroyer added EPSG code it domain table, selected EPSG code in console, and made collection public.

[2019-09-19 12:13] pwblanton commented on #2
Made a couple of typographical corrections.

[2019-09-19 12:39] #2 closed

[2019-09-20 12:35] mitchellryant opened #40 "USGS 2018 Panhandle"
Please reassign issues when your work is complete.

**Data**
- [x] Add data to measures spreadsheet @ThorTheDestroyer
- [x] Route Data Shipment [copy data to TNRIS Projects share] @ThorTheDestroyer
- [x] Data Processing [renaming file, data organization, data conversion]  @mitchellryant
- [x] Creation of derivative products [hypso and metadata] @csidenblad @LaurenKirk @ThorTheDestroyer
- [ ] Quali

[2019-09-30 14:43] ThorTheDestroyer commented on #6
@christoball Images are loaded to Website\datacatalog\images\usgs18-eastern

[2019-09-30 16:09] christoball commented on #6
@ThorTheDestroyer @mitchellryant Images have been processed and uploaded to the collection on datahub

[2019-10-01 15:56] gmullins commented on #1
@mitchellryant Ready for the rest of your tasks.
@pwblanton Ready for your review of the description in the console.
Thanks!

[2019-10-01 18:47] gmullins commented on #1
@christoball I inadvertently uploaded images already in the console. You may want to check them out size-wise. Originals are here: M:\SM\Imagery\NAIP\NAIP2018_19\Web_announce\Graphics

[2019-10-01 19:00] christoball commented on #1
@gmullins @gmullins I've deleted them all, they were all 15MB at 300dpi. Please give me the heads up when you want images added, I'll crop and upload them.

[2019-10-02 17:54] gmullins commented on #1
@christoball These are the ones I'd like on DataHub. Starred is thumbnail.
![image](https://user-images.githubusercontent.com/4921113/66068727-c09a7c80-e513-11e9-8682-d77d4a34931a.png)

[2019-10-04 17:18] mitchellryant commented on #1
@gmullins @christoball can we get the images cropped and loaded? @gmullins wants to make an announcement that the data is ready at a meeting Tuesday.

[2019-10-04 17:31] christoball commented on #1
@mitchellryant yes, making this a top priority to upload images and have the story draft by this afternoon.

[2019-10-04 21:25] christoball commented on #1
@mitchellryant @gmullins the images have been processed and uploaded

[2019-10-05 14:13] #1 closed

[2019-10-16 15:04] #39 closed

[2019-10-21 15:34] mitchellryant commented on #6
Collection Published 10/21/2019

[2019-10-21 15:34] #6 closed

[2019-10-25 15:25] mitchellryant opened #41 "HGAC 2014 Imagery"
Please reassign issues when your work is complete.

**DataHub**
- [x] Create collection @mitchellryant
- [x] Complete console collection form including metadata and description @mitchellryant
- [x] Create Images, place on Website Dir @mitchellryant
- [x] Crop & Upload Images @christoball
- [x] Upload supplemental info (breaklines, reports, index) @mitchellryant<br/>_**If zip file is too large (mor

[2019-10-25 15:26] mitchellryant opened #42 "HGAC 2012 Imagery"
Please reassign issues when your work is complete.

**DataHub**
- [x] Create collection @mitchellryant
- [x] Complete console collection form including metadata and description @mitchellryant
- [x] Create Images, place on Website Dir @mitchellryant
- [x] Crop & Upload Images @christoball
- [x] Upload supplemental info (breaklines, reports, index) @mitchellryant<br/>_**If zip file is too large (mor

[2019-10-28 12:12] ilyannakadich commented on #4
[TNRIS Address Point Schema.pdf](https://github.com/TNRIS/incoming-data/files/3778585/TNRIS.Address.Point.Schema.pdf)
 Please add the schema to the supplemental info folder

[2019-10-28 13:15] #42 closed

[2019-10-28 18:08] mitchellryant commented on #4
@ilyannakadich the file is only 512KB, zipped it will load without issues in the api admin console.

[2019-10-28 18:12] ilyannakadich commented on #4
@mitchellryant  OK, i saved it there.

[2019-10-28 20:07] mitchellryant commented on #4
@ilyannakadich Can you correct 1-3? I can bulk correct 4-5?

1. the shape file and fgdb feature class for **Bandera** is missing a `d`
2.  the shape file and fgdb feature class for **Caldwell**  the name is `countyname_FIPS` it should be `FIPS_countyname`.
3.  the shape file for **Hardin** has the `_conversion` in the file name
4. the file geodatabase name should be `stratmap19-addresspoints_fipsc

[2019-10-28 20:21] ilyannakadich commented on #4
@mitchellryant Got it done.  Thanks!

[2019-10-29 13:00] mitchellryant commented on #3
@ThorTheDestroyer
**Block 8**
[code]

**Collection**
[code]

is there metadata for block 8?

[2019-10-29 13:17] ThorTheDestroyer commented on #3
I'm looking into it, there are still a few things I need to sort out. I believe the DEMs are solid.

[2019-10-30 13:28] mitchellryant commented on #5
closed as is

[2019-10-30 13:28] #5 closed

[2019-10-30 13:59] gmullins commented on #4
@ilyannakadich Description looks good. You could say this is an update to the previous 2017 points that are now archived at TNRIS. Also, I suggest adding in info such as this which I grabbed off the land parcels article and anything else pertaining to the data that you think users need to know:

Each land parcel dataset on DataHub consists of a zip file including:
File geodatabase
Shapefile
Conver

[2019-10-30 15:06] ilyannakadich commented on #4
@mitchellryant  I made the updates per Gayla's recommendation.

[2019-10-30 15:50] mitchellryant commented on #4
@ilyannakadich @gmullins collection is public.

[2019-10-30 15:50] #4 closed

[2019-11-05 16:44] ThorTheDestroyer commented on #3
@christoball images are in directory   \Website\datacatalog\images\usgs18-south_texas

[2019-11-05 21:00] christoball commented on #3
@ThorTheDestroyer @mitchellryant I've processed the images and uploaded to tnris API.

[2019-11-06 15:32] ThorTheDestroyer commented on #3
looks good

[2019-11-07 13:43] mitchellryant commented on #3
@ThorTheDestroyer hypso metadata?

[2019-11-07 13:58] ThorTheDestroyer commented on #3
[usgs18-metadata-contours.txt](https://github.com/TNRIS/incoming-data/files/3819954/usgs18-metadata-contours.txt)
[usgs18-metadata-contours.pdf](https://github.com/TNRIS/incoming-data/files/3819955/usgs18-metadata-contours.pdf)

[2019-11-08 16:09] ThorTheDestroyer opened #43 "USGS 2018 Texas West Central"
Please reassign issues when your work is complete.

**Data**
- [x] Add data to measures spreadsheet @ThorTheDestroyer
- [x] Route Data Shipment [copy data to TNRIS Projects share] @ThorTheDestroyer
- [x] Data Processing [renaming file, data organization, data conversion]  @mitchellryant
- [ ] Creation of derivative products [hypso and metadata] @ThorTheDestroyer
- [x] Quality Assurance @ThorTheDes

[2019-11-13 17:02] mitchellryant commented on #3
@ThorTheDestroyer collection is now public.

[2019-11-13 17:02] #3 closed

[2019-11-14 20:12] mitchellryant commented on #40
@csidenblad @LaurenKirk @ThorTheDestroyer  the data has been zipped and is currently loading to s3. you guys fight amongst yourselves to fill out the console.

[2019-11-18 13:46] mitchellryant commented on #40
@csidenblad @LaurenKirk @ThorTheDestroyer resources for LPC and DEM files have been added. All that is left is everything.

[2019-11-18 14:07] ThorTheDestroyer commented on #40
@mitchellryant I wrote the description last week. I'll try to finish out the console soon.

[2019-11-19 21:54] ThorTheDestroyer commented on #40
@christoball images are loaded to   \Website\datacatalog\images\usgs18_panhandle

[2019-11-19 22:35] christoball commented on #40
@mitchellryant @ThorTheDestroyer the images have been edited and uploaded

[2019-11-20 22:37] ThorTheDestroyer commented on #43
@mitchellryant even after removing photos, the supplemental report is still too large, please upload, zip file is located at StratMap\lidar\usgs18-70cm-Texaswestcentral\qaqc

[2019-11-21 18:18] ThorTheDestroyer commented on #40
@christoball Thanks chris, added captions to the images.

[2019-11-21 18:21] ThorTheDestroyer commented on #40
@csidenblad @LaurenKirk  did the contours finish? or did you cancel the operation per my initial instructions when I discovered the truth?

[2019-11-21 19:54] csidenblad commented on #40
@ThorTheDestroyer @LaurenKirk Contours have not yet been created. We did stop the process and were told to wait until we got an updated license for GlobalMapper. Once new software is installed, we will restart the process.

[2019-11-22 19:53] mitchellryant opened #44 "Split Collection"
can you prep this images for loading into DataHub? `Website\data.tnris.org\2015-stratmap-nga`

I had to split the collection into 4 collection to add the Web Services.

[2019-11-25 13:55] mitchellryant commented on #43
@ThorTheDestroyer supplemental report has been uploaded.

[2019-12-02 17:26] mitchellryant commented on #40
collection has been made public, while hypso lines are being generated.

[2019-12-05 19:27] mitchellryant commented on #44
@christoball could i get an update on this.

[2019-12-05 19:32] christoball commented on #44
@mitchellryant Sorry, lost track of this. I've added the images in the same folder with _web on the filename

[2019-12-05 21:02] mitchellryant commented on #44
@christoball no worries

[2019-12-05 21:02] #44 closed

[2020-01-09 19:16] ThorTheDestroyer commented on #43
@christoball images have been loaded to the directory below.  Let me know if you would like any changes made to them.

\Website\datacatalog\images\usgs18-westcentraltexas

[2020-01-09 21:32] #41 closed

[2020-01-09 22:29] christoball commented on #43
@ThorTheDestroyer I've edited and added to the data catalog entry

[2020-01-09 22:30] christoball commented on #43
@ThorTheDestroyer also, props on this artsy rendering. You're the Monet of Lidar!

![usgs18-westcentral_redriver-lakebridgeport-web](https://user-images.githubusercontent.com/1877550/72110218-40976600-32fd-11ea-985c-9e6e2d906ff1.jpg)

[2020-02-07 14:18] ThorTheDestroyer opened #45 "USGS 2018 Matagorda Bay Lidar"
Please reassign issues when your work is complete.

**Data**
- [x] Add data to measures spreadsheet @ThorTheDestroyer
- [x] Route Data Shipment [copy data to TNRIS Projects share] @ThorTheDestroyer
- [x] Data Processing [renaming file, data organization, data conversion]  @mitchellryant
- [x] Creation of derivative products [hypso and metadata] @ThorTheDestroyer
- [x] Quality Assurance @ThorTheDes

[2020-02-07 14:20] ThorTheDestroyer commented on #45
Data received  on 02-03-20

[2020-02-07 16:59] ThorTheDestroyer commented on #45
@christoball  collection images are located below.

Website\datacatalog\images\usgs18-matagordabay

[2020-02-20 15:16] KCMack opened #46 "TNRIS Resources Guide"
Please add the Resources List to the website as we discussed
[Texas Natural Resources Information System Resources.docx](https://github.com/TNRIS/incoming-data/files/4231484/Texas.Natural.Resources.Information.System.Resources.docx)

@christoball

[2020-02-20 15:54] christoball commented on #46
@KCMack this would go in the tnris.org repository. I've created a new issue there for this.
https://github.com/TNRIS/tnris.org/issues/168

[2020-02-20 15:54] #46 closed

[2020-02-24 13:51] mitchellryant commented on #45
@ThorTheDestroyer @christoball all resources (**LPC, DEM, Hypso**) have been added. Everything else is everything else and up to you.

[2020-02-24 16:13] christoball commented on #45
@ThorTheDestroyer @mitchellryant Images have been edited and added to api console.

[2020-02-26 13:41] mitchellryant commented on #45
@ThorTheDestroyer  all eyes on you

[2020-03-02 20:28] ThorTheDestroyer commented on #45
@pwblanton  Please review the description. Thank you!

This USGS lidar project covers 705 square miles over portions of western Matagorda County, Texas. The acquisition was conducted from January 24, 2019, through January 29, 2019. Fugro was tasked with planning, acquiring, processing, and producing high resolution lidar data and derivative products. Lidar data, and derivative products were produc

[2020-03-03 12:59] pwblanton commented on #45
Only made one change; deleted one comma.

This USGS lidar project covers 705 square miles over portions of western Matagorda County, Texas. The acquisition was conducted from January 24, 2019, through January 29, 2019. Fugro was tasked with planning, acquiring, processing, and producing high resolution lidar data and derivative products. Lidar data and derivative products were produced in complian

[2020-03-03 13:49] mitchellryant commented on #45
@ThorTheDestroyer  Missing Source ID, Partners, and License.

[2020-03-03 15:15] ThorTheDestroyer commented on #45
@mitchellryant  done.  There were no other partners so I just put USGS.

[2020-03-03 16:44] #45 closed

[2020-03-13 13:14] csidenblad commented on #40
@mitchellryant @ThorTheDestroyer @LaurenKirk contours are created and in folder on r:
Can we please also add the index to i: ? Thank you.

[2020-03-19 12:41] mitchellryant commented on #40
@csidenblad @LaurenKirk I will have to come into the office to move the hypos files to I:\ and start the zipping. Not sure the connection through tserv will stay active long enough to complete the process.

[2020-03-20 15:52] mitchellryant commented on #40
@csidenblad @LaurenKirk @ThorTheDestroyer hypso has been moved to lidar prod. I cannot start the zipping from the house. i think the selector is was already updated.

[2020-05-19 13:45] mitchellryant commented on #40
@csidenblad @LaurenKirk started zipping hypso could be in the cloud by mid day tomorrow.

[2020-06-03 17:09] csidenblad opened #47 "2020 Smith County Imagery"
Please reassign issues when your work is complete.

Data

- [x]  Enter dataset on StratMap Incoming data xlsx sheet @gmullins
- [x] Route Data Shipment (copy data to TNRIS Projects share) @csidenblad
- [x]  Data Processing (renaming file, data organization) @mitchellryant @csidenblad
~~- [ ]  Creation of derivative products [compressed images] @csidenblad~~
- [x]  Quality Assurance @csidenblad

Da

[2020-06-05 14:16] mitchellryant commented on #47
@gmullins is there metadata?

[2020-06-12 12:52] mitchellryant commented on #47
@gmullins smith20 or smith19?

all files have been copied from OneDrive to Gorgoroth.

[2020-06-12 13:12] gmullins commented on #47
@mitchellryant   smith20
John from SmithCAD was to upload metadata to my OneDrive. Haven't heard if he's done yet.
Thanks!

[2020-06-15 14:49] mitchellryant commented on #47
@gmullins the metadata has been copied to the network.

[2020-06-15 15:29] ThorTheDestroyer opened #48 "Balmorhea & Davis Mountain State Park Lidar and Imagery"
Please reassign issues when your work is complete.

**Data**
- [x] Add data to measures spreadsheet @ThorTheDestroyer
- [x] Route Data Shipment [copy data to TNRIS Projects share] @ThorTheDestroyer
- [x] Data Processing [renaming file, data organization, data conversion]  @mitchellryant
- [x] Creation of derivative products [hypso and metadata] @ThorTheDestroyer
- [x] Quality Assurance @ThorTheDes

[2020-06-18 13:54] mitchellryant commented on #48
@ThorTheDestroyer i think you will need to export the hypso lines out.

![Davis](https://user-images.githubusercontent.com/8459928/85028655-fa162500-b140-11ea-91f0-28a905faccf5.PNG)

[2020-06-18 20:08] ThorTheDestroyer commented on #48
Sorry, i meant to note the other day that i did that. there is a 1ft contour in the hypso folder for the entire project.  Would you prefer them split or are they okay as 1 file?

[2020-06-18 20:09] ThorTheDestroyer commented on #48
oh dang, nevermind. now i see that i messed up the export.

[2020-06-19 15:22] csidenblad commented on #47
@mitchellryant photos have been cropped and uploaded. Saved them in M:\SM\Graphics\Imagery\Smith_2020 , if this is not the correct location. If not, let me know and i'll move them.

[2020-06-22 14:08] LaurenKirk commented on #47
@pwblanton

The Smith County GIS Consortium 2020 6-inch Digital aerial imagery was acquired, processed to orthophotography and delivered to display approximately 1,104 square miles of the greater countywide area. The Smith County area orthoimagery delivery includes 1,104 Quarter-Quarter Quads (DO4Qs) uncompressed GeoTIFF tiles and 1,104 DO4Q compressed JPEG2000 tiles and 1,104 DO4Q ECW tiles, coun

[2020-06-22 15:17] pwblanton commented on #47
Chelsea, I reviewed the Smith County Imagery write-up and it looks good. Thanks!

[2020-06-22 15:21] mitchellryant commented on #47
@csidenblad I added some breaks and removed the tail number. api has been updated

The Smith County GIS Consortium 2020 6-inch Digital aerial imagery was acquired, processed to orthophotography and delivered to display approximately 1,104 square miles of the greater countywide area. The Smith County area orthoimagery delivery includes 1,104 Quarter-Quarter Quads (DO4Qs) uncompressed GeoTIFF tiles

[2020-06-23 14:10] mitchellryant commented on #48
@ThorTheDestroyer is this the coverage area for the lidar and imagery?
![coverage](https://user-images.githubusercontent.com/8459928/85414108-4bebf000-b531-11ea-8f3c-996009ba3012.PNG)

[2020-06-23 14:13] ThorTheDestroyer commented on #48
yes that looks correct. I'm planning on going back into the office tomorrow and I'll verify.

[2020-06-25 12:53] #47 closed

[2020-07-03 13:49] ThorTheDestroyer opened #49 "StratMap 2020 CapArea & McLennan Imagery"
Please reassign issues when your work is complete.

**Data**
- [x] Enter dataset on StratMap Incoming data xlsx sheet @ThorTheDestroyer
- [x] Route Data Shipment (copy data to TNRIS Projects share) @ThorTheDestroyer
~~- [ ] Data Processing (renaming file, data organization) @mitchellryant~~
~~- [ ] Creation of derivative products [compressed images] @ThorTheDestroyer~~
- [x] Quality Assurance @Tho

[2020-07-03 13:53] mitchellryant commented on #49
@ThorTheDestroyer i removed the lidar template and used the imagery template.

[2020-07-03 13:54] ThorTheDestroyer opened #50 "USGS 2019 West Texas Lidar"
Please reassign issues when your work is complete.

**Data**
- [x] Add data to measures spreadsheet @ThorTheDestroyer
- [x] Route Data Shipment [copy data to TNRIS Projects share] @ThorTheDestroyer
- [x] Data Processing [renaming file, data organization, data conversion]  @mitchellryant
- [ ] Creation of derivative products [hypso and metadata] @ThorTheDestroyer
- [ ] Quality Assurance @ThorTheDes

[2020-07-03 14:11] gmullins commented on #49
@mitchellryant and @ThorTheDestroyer
These assignments look good w/o @csidenblad or @LaurenKirk on this one.
I don't think we're going to need this one: Creation of derivative products [compressed images]
Thank you both!! Let me know if I can help or questions.

[2020-07-13 13:21] mitchellryant commented on #8
Almost 2 years open, i think that is long enough.

[2020-07-13 13:21] #8 closed

[2020-07-29 13:06] mitchellryant commented on #49
3 different tiles, resolution, and dates. one tile.

![ohboy](https://user-images.githubusercontent.com/8459928/88803649-676e9a00-d172-11ea-9cf3-b1c73c576ca5.PNG)

[2020-07-29 13:25] mitchellryant commented on #49
![incoming_data](https://user-images.githubusercontent.com/8459928/88805609-fd0b2900-d174-11ea-90c3-d87e3cb24785.jpg)

[2020-07-29 13:25] mitchellryant commented on #49
![ohboy](https://user-images.githubusercontent.com/8459928/88805653-08f6eb00-d175-11ea-8871-228d900b5641.PNG)

[2020-07-29 14:16] mitchellryant commented on #49
@ThorTheDestroyer so there are tiles for both 6in and 12in?
![dup](https://user-images.githubusercontent.com/8459928/88811424-23809280-d17c-11ea-9d14-4018ada35bec.PNG)

[2020-07-29 14:38] ThorTheDestroyer commented on #49
Yes, from my understanding.  The capcog area has complete 12-inch coverage, with select areas additionally in 6 inch and 3 inch(west lake hills only).

[2020-07-29 15:03] mitchellryant commented on #49
cool. it does not really affect my process. might think about putting that in the collection description.

[2020-08-14 15:16] ThorTheDestroyer commented on #49
@pwblanton Please review the console description.

[2020-08-14 15:49] mitchellryant commented on #49
@ThorTheDestroyer you can re-assign issues in the repo.

[2020-08-14 15:50] pwblanton commented on #49
I already reviewed it; no changes were needed.

From: Ryan <notifications@github.com>
Sent: Friday, August 14, 2020 10:50 AM
To: TNRIS/incoming-data <incoming-data@noreply.github.com>
Cc: Patricia Blanton <Patricia.Blanton@twdb.texas.gov>; Assign <assign@noreply.github.com>
Subject: Re: [TNRIS/incoming-data] StratMap 2020 CapArea & McLennan Imagery (#49)

External: Beware of links/attachments.

As

[2020-08-14 16:07] #49 closed

[2020-08-17 14:35] mitchellryant commented on #50
Converted +34k of +38k.  created batch to convert remaining.

**Example of Error**
R:\usgs19-west-texas>c:\LAStools\bin\laszip -i  R:\usgs19-west-texas\las\usgs19-70cm_14RLS495905.las -odir R:\usgs19-west-texas\laz\
ERROR: 'end-of-file' after 2158318 of 9073777 points for 'R:\usgs19-west-texas\las\usgs19-70cm_14RLS495905.las'
WARNING: written 2158318 points but expected 9073777 points
The system c

[2020-08-19 19:48] ThorTheDestroyer opened #51 "USGS 2018 Pecos Dallas"
Please reassign issues when your work is complete.

**Data**
- [x] Add data to measures spreadsheet @ThorTheDestroyer
- [x] Route Data Shipment [copy data to TNRIS Projects share] @ThorTheDestroyer
- [x] Data Processing [renaming file, data organization, data conversion]  @mitchellryant
- [ ] Creation of derivative products [hypso and metadata] @ThorTheDestroyer
- [x] Quality Assurance @ThorTheDes

[2020-08-20 19:53] ThorTheDestroyer opened #52 "USGS Desert Mountain 2019 Lidar"
Please reassign issues when your work is complete.

**Data**
- [x] Add data to measures spreadsheet @ThorTheDestroyer
- [x] Route Data Shipment [copy data to TNRIS Projects share] @ThorTheDestroyer
- [x] Data Processing [renaming file, data organization, data conversion]  @mitchellryant
- [ ] Creation of derivative products [hypso and metadata] @ThorTheDestroyer
- [ ] Quality Assurance @ThorTheDes

[2020-08-28 20:10] ThorTheDestroyer commented on #50
@pwblanton console description is completed, please review at your convenience.

[2020-09-16 16:13] mitchellryant commented on #50
@ThorTheDestroyer can you add the metadata to the supplemental downloads? It was not added to the resource zips.
Can you upload the tile index?

[2020-09-25 17:20] ThorTheDestroyer commented on #51
@pwblanton please review the console description when you get a chance.

https://api.tnris.org/admin/lcd/collection/90ac2f86-6bb7-49d3-89db-f4557376ebb6/change/?_changelist_filters=o%3D-2

[2020-10-14 00:28] #48 closed

[2020-10-22 17:23] #51 closed

[2020-10-26 12:53] ThorTheDestroyer opened #53 "Stratmap 2020 Collin Van Zandt"
Please reassign issues when your work is complete.

**Data**
- [x] Add data to measures spreadsheet @ThorTheDestroyer
- [x] Route Data Shipment [copy data to TNRIS Projects share] @ThorTheDestroyer
- [x] Data Processing [renaming file, data organization, data conversion]  @mitchellryant
- [ ] Creation of derivative products [hypso and metadata] @ThorTheDestroyer
- [x] Quality Assurance @ThorTheDes

[2020-10-26 16:37] ThorTheDestroyer commented on #52
@pwblanton please review the console description.

[2020-10-29 12:32] #52 closed

[2020-10-29 12:33] #43 closed

[2020-10-29 12:33] #40 closed

[2020-11-02 13:10] #50 closed

[2020-11-03 16:20] ThorTheDestroyer commented on #53
@pwblanton please review the console collection description.

[2020-11-05 13:11] #53 closed

[2020-12-01 20:26] mitchellryant opened #54 "[Dataset Collection Name]"
Please reassign issues when your work is complete.

**Data**
- [ ] Add data to measures spreadsheet @ThorTheDestroyer
- [ ] Route Data Shipment [copy data to TNRIS Projects share] @ThorTheDestroyer
- [ ] Data Processing [renaming file, data organization, data conversion]  @mitchellryant
- [ ] Creation of derivative products [hypso and metadata] @ThorTheDestroyer
- [ ] Quality Assurance @ThorTheDes

[2020-12-01 20:29] #54 closed

[2021-01-26 15:51] A-M-Pearce opened #55 "NAIP 2020"
The owner of this issue (person who opened it) is responsible for ensuring each task is completed.
**Please reassign issues** when work is complete. The owner of this issue is responsible for checking in with workmates on progress of each task.

**Data CCMs**
- [x] Enter dataset on StratMap Incoming data xlsx sheet @A-M-Pearce
- [x] Route Data Shipment (copy data to TNRIS Projects share) @mitchell

[2021-02-08 22:29] mitchellryant commented on #55
collection card - [Texas NAIP Imagery](https://api.tnris.org/admin/lcd/collection/aa5183ca-a1bd-4b5f-9b63-4ba48d01b83d/)

network - naip-2020-nc-cir-60cm\compressed-county-mosaic\

[2021-02-09 19:38] mitchellryant commented on #55
@A-M-Pearce @gmullins

something will need to be figured out with the doqqs. at this time we do not have access to the erdas license in aws, so converting from geotiff to jpg2000 is an unknown.
also clicking (3 times) every download for 17k+ files in not really how anyone want to spend their day(s).

[2021-02-10 14:48] gmullins commented on #55
@mitchellryant Could we use ArcGIS Pro to convert the doqqs from geotiff to jpg2000 in aws?

[2021-02-10 14:57] mitchellryant commented on #55
it is a possibility.!? ¯\_(ツ)_/¯. it may not be able to handle the stress. in erdas we were able to load all into the conversion process, and let it run for 4-7 days.

[2021-02-10 15:03] ThorTheDestroyer commented on #55
Does the newest version of GM have the same issues with the 4band imagery  as the old versions?  I'm still waiting on IT to install it on my machine, so I'm unable to verify. Might be worth a check.

[2021-02-10 15:44] mitchellryant commented on #55
@gmullins @ThorTheDestroyer @A-M-Pearce

Using GM is a possibility.

Also just an idea don't compress them. Free the GeoTiff. [Give the people what they want!!!!](https://www.youtube.com/watch?v=mYS6ifV9IN0)

![Ojays](https://user-images.githubusercontent.com/8459928/107533328-72c06a80-6b84-11eb-8e93-afaf842f7148.PNG)

[2021-02-10 16:39] gmullins commented on #55
@mitchellryant thank you for the funk :) Is that a possibility? I assumed they were too big to make downloadable from our site. Maybe not no mo?

[2021-02-10 16:56] mitchellryant commented on #55
[nothing is too large for the site](https://www.youtube.com/watch?v=gjKFCYzqq-A), maybe to large for the user.  some of the ccms are +5gb per band combo. almost everything is possible, but it would determine on original size of geotiff. there will not be much compression on zipping a geotiff.

[2021-03-01 16:12] ThorTheDestroyer opened #56 "USGS 2019 Hurricane Lidar"
The owner of this issue (person who opened it) is responsible for ensuring each task is completed.
Please reassign issues when work is complete. The owner of this issue is responsible for checking in with workmates on progress of each task.

**Data**
- [x] Add data to measures spreadsheet @ThorTheDestroyer
- [x] Copy complete dataset collection from USGS FTP site @mitchellryant
- [x] Data Processi

[2021-03-01 16:20] mitchellryant commented on #56
@ThorTheDestroyer  here is the API collection https://api.tnris.org/admin/lcd/collection/6ddcc1e6-2059-4fa2-a2cf-4ab163e2c97e/

[2021-03-02 20:28] gmullins commented on #55
I haven't looked into finding/getting the DOQQs yet. BUT I think this is the service link: https://gis.apfo.usda.gov/arcgis/rest/services
@mitchellryant Is this what you want to use to make available on the DataHub?
@A-M-Pearce Can you please check it out and see if the 2020 data have been added? I think they just show the most recent year per state. Here's an [old document](https://www.fsa.usda.g

[2021-03-02 23:05] A-M-Pearce commented on #55
It looks like they've changed up that service link. Instead of individual state datasets, now everything is mosaicked in one layer, USDA_CONUS_PRIME. It does look like there are 2020 DOQQs within this mosaic in its attribute table (and a couple of 2014 DOQQs along the coastal TX boundary also). There's also a section for image dates, though that's only 2011-2017.

![image](https://user-images.gith

[2021-03-03 14:25] gmullins commented on #55
Thanks Aaron! I had a thought on timing. Could we target **April 26th** to have the CCMs available for download from the DataHub? April 27th is the Community Meeting where it will be great to announce this.

[2021-03-03 16:29] A-M-Pearce commented on #55
Yes Gayla, it should not be a problem having the CCMs available for download on the DataHub by April 26th!

[2021-03-08 14:10] mitchellryant commented on #55
@gmullins we can have these in data.tnris.org this week. I understand the QA\QC process and I understand how busy @A-M-Pearce is with **Lakes of Texas**, **Interns**, **RDC work**, and the **"corrupt" StratMap 2020 CapArea & McLennan Imagery** #49 images.  But can we get USDA APFO to make any changes (re-fly) areas we are concerned about?

Also using the APFO service link would not be my choice.

[2021-03-08 21:47] gmullins commented on #55
@mitchellryant I think you're suggesting we cut the Quality Assurance for the CCMs? You are correct in that we cannot ask for reflights of missing data, but I still think it is worth us opening each CCM and giving them a quick peek to ensure correct county coverage and that the files are not corrupt before we make them available on the DataHub. This could reduce the number of questions asked or is

[2021-03-08 23:26] A-M-Pearce commented on #55
@gmullins @mitchellryant I've opened up QA for the CCMs to the interns, but with the second shipment of the scanning project being sent out on March 15th, everyone is finishing up what they can for that. 3/8ths of the CCMs are fully reviewed, and the rest should be finished end of next week, if not the week after. If this needs to be re-prioritized I'm happy to do that.

The DOQQs on Earth Explore

[2021-03-09 13:34] mitchellryant commented on #55
- @gmullins I get it especially with what is going on with StratMap 2020 CapArea & McLennan Imagery #49.
- @gmullins I was wondering if they are on Earth Explorer does the USGS have them somewhere that can be access via other tools.  Claire gave JT a bunch of FTP links to download the USGS 2019 Hurricane Lidar #56.
S3 Location managed by USGS - https://prd-tnm.s3.amazonaws.com/index.html?prefix=St

[2021-03-11 19:51] ThorTheDestroyer commented on #56
@pwblanton Please review the console description.

This USGS lidar project covers portions of 45 counties in the central to coastal regions of Texas. The acquisition was conducted from January 4, 2019 through February 20, 2019.  Fugro served as the prime contractor for the project and was responsible for planning, acquiring, processing, and producing derivative products of high resolution lidar da

[2021-03-11 20:36] pwblanton commented on #56
This USGS lidar project covers portions of 45 counties in the central to coastal regions of Texas. The acquisition was conducted from January 4, 2019, through February 20, 2019. Fugro served as the prime contractor for the project and was responsible for planning, acquiring, processing, and producing derivative products of high resolution lidar data (QL2) over the project area.

[2021-03-11 20:38] pwblanton commented on #56
Hi Joey—

I went into GitHub and made 2 edits and then reassigned to Ryan. Hope that’s right!

Patricia

From: ThorTheDestroyer ***@***.***>
Sent: Thursday, March 11, 2021 1:51 PM
To: TNRIS/incoming-data ***@***.***>
Cc: Patricia Blanton ***@***.***>; Mention ***@***.***>
Subject: Re: [TNRIS/incoming-data] USGS 2019 Hurricane Lidar (#56)

External: Beware of links/attachments.

@pwblanton<https://

[2021-03-11 20:43] jwhaney commented on #56
@pwblanton you actually closed the issue just now. I'm guessing you did not mean to do that.

![Screen Shot 2021-03-11 at 2 40 24 PM](https://user-images.githubusercontent.com/13525011/110852284-ca332280-8277-11eb-977f-dcfa6118ed86.png)

[2021-03-11 20:50] mitchellryant commented on #56
@ThorTheDestroyer since as of now there is no Hypso data I removed SHP from file types.  but collection has been made public, and issue reassigned to you for completion.

[2021-03-12 19:27] ThorTheDestroyer commented on #56
@geochik  Draft Tweet:

Now available for download, USGS 2019 Hurricane lidar project with new data for portions of central and coastal Texas.

Are there image constraints I should know with regard to twitter?

[2021-03-17 20:25] A-M-Pearce commented on #55
CCM QC has been completed, all counties are looking good!

[2021-03-25 13:18] mitchellryant commented on #55
@A-M-Pearce  Here is a refresher on filling out the rest of the console.

open api.tnris.org/admin
collection catalog -> dataset collections -> Search NAIP -> Find the 2020 Texas NAIP (the only one that is not Public)

At this point you only need to fill out the desc.

If you want you can create new images and upload them. There are some place holders loaded. No sure who sees these, since they are

[2021-03-31 16:20] A-M-Pearce commented on #55
The DataHub collection has been created and the collection console/imagery upload has been completed. @pwblanton will you please review the description and formatting when you're able?

[2021-04-01 14:22] A-M-Pearce commented on #55
@geochik I've written out the tweet for the NAIP 2020 dataset, let me know what you think! I can always rework the text or the picture I put together:

The 2020 NAIP Aerial Imagery is Live on the DataHub! Available as Compressed County Mosaics in both Natural Color and Color Infrared. Download them today!  [https://data.tnris.org/collection/aa5183ca-a1bd-4b5f-9b63-4ba48d01b83d](url)

![image](http

[2021-04-14 17:02] gmullins commented on #55
Looks like we won't have DOQQs until June at the earliest. Email from USDA [Geospatial Services Branch](https://www.fsa.usda.gov/programs-and-services/aerial-photography/imagery-products/about-apfo/geospatial-service/index) (formerly APFO):

Hi Gayla,

The TNRIS office is mentioned by many of our customers and a reliable source for TX NAIP imagery. Unfortunately, the 2020 TX NAIP is the last state

[2021-04-29 15:42] ThorTheDestroyer opened #57 "North & Central Texas Lidar"
The owner of this issue (person who opened it) is responsible for ensuring each task is completed.
Please reassign issues when work is complete. The owner of this issue is responsible for checking in with workmates on progress of each task.

**Data**
- [x] Add data to measures spreadsheet @ThorTheDestroyer
- [x] Route Data Shipment [copy data to TNRIS Projects share] @ThorTheDestroyer
- [x] Data P

[2021-05-11 19:07] ThorTheDestroyer opened #58 "2021 CapArea, Brazos & Kerr"
The owner of this issue (person who opened it) is responsible for ensuring each task is completed.
Please reassign issues when work is complete. The owner of this issue is responsible for checking in with workmates on progress of each task.

**Data**
- [x] Enter dataset on StratMap Incoming data xlsx sheet @ThorTheDestroyer
- [x] Route Data Shipment (copy data to TNRIS Projects share) @ThorTheDest

[2021-05-17 15:47] ThorTheDestroyer commented on #57
@pwblanton please review the console description below.

This StratMap lidar project covers portions of 21 counties in northern and central Texas.  This project was managed by the Texas Strategic Mapping (StratMap) Program and utilized the StratMap contracts held by the Department of Information Resources (DIR). Collection took place January 7th, 2020 through April 24, 2020 with re-flights in June

[2021-05-17 17:29] rwade2126 commented on #57
Joey—

I edited the entry, clicked Save and Continue, and received this message:

Forbidden (403)
CSRF verification failed. Request aborted.
You are seeing this message because this site requires a CSRF cookie when submitting forms. This cookie is required for security reasons, to ensure that your browser is not being hijacked by third parties.
If you have configured your browser to disable cookie

[2021-05-17 20:20] pwblanton commented on #57
This StratMap lidar project covers portions of 21 counties in northern and central Texas. This project was managed by the Texas Strategic Mapping (StratMap) Program and utilized the StratMap contracts held by the Texas Department of Information Resources (DIR). Collection took place January 7, 2020, through April 24, 2020 with re-flights in June and August 2020. Data was collected and processed by

[2021-06-15 13:26] mitchellryant commented on #55
Why do we need 11.8 TB of Tiffs?

- They will never make to the network.
- We do not get a great number (if any) of requests for them.
- In fact, they will just be moved from S3 to Glacier and the process for pulling them out of Glacier can be a bit cumbersome and time consuming.
- any customer requesting tiffs would have to wait an extra week to temporarily change the storage type in AWS and this

[2021-06-15 13:33] mitchellryant commented on #58
@ThorTheDestroyer there are 240 files (120 jp2 and j2w) with _hr4 at the end of the name. is this expected?

[2021-06-15 16:15] ThorTheDestroyer commented on #55
If the data is readily available and accessible through a federal entity, I concur on why we would house it. We only have the compressed LAZ format for some of the USGS lidar datasets.

[2021-06-15 17:55] mitchellryant commented on #58
I would suggest making a "map" showing the coverage areas of the different resolutions.

[2021-06-15 18:09] ThorTheDestroyer commented on #58
hr4 is an unknown. I'll look into it and send you a decision about them. I will generate/upload a coverage map to the console.

[2021-06-16 13:12] mitchellryant commented on #58
@ThorTheDestroyer Here are what the hr4 images cover.

![hr4](https://user-images.githubusercontent.com/8459928/122225163-72114b00-ce7a-11eb-917c-d4c0f1a5fa7d.png)

[2021-06-16 20:38] ThorTheDestroyer commented on #58
I was unable to track down those tiles in the repositories to confirm this, but those are duplicate tiles delivered for TMPA's in their requested NAD27 projection.
![image](https://user-images.githubusercontent.com/8398036/122289880-d0f5b500-ceb8-11eb-85de-8207aa36f13e.png)

[2021-06-16 20:43] ThorTheDestroyer commented on #58
@pwblanton please review the description.

[2021-06-18 14:47] mitchellryant commented on #58
@ThorTheDestroyer tile index?

[2021-06-25 12:17] mitchellryant commented on #57
@ThorTheDestroyer @geochik @gmullins

Dataset collection has been public since 2021-05-27.
still wanting\needing to tweet? or can the issues be closed?

[2021-06-25 12:18] mitchellryant commented on #58
@ThorTheDestroyer @gmullins @pwblanton

are we ready to publish?

[2021-06-25 13:09] geochik commented on #57
Ah! This was right at the time I was out.
@ThorTheDestroyer can you please provide me with an image to go with a Tweet? Some verbiage would really help, too.
@mitchellryant let's go ahead and close this issue. No need to wait for the Tweet. Thank you!!

[2021-06-25 13:30] #57 closed

[2021-07-27 12:11] LaurenKirk opened #59 "2021 Address Points Dataset Collection"
The owner of this issue (person who opened it) is responsible for ensuring each task is completed.
Please reassign issues when work is complete. The owner of this issue is responsible for checking in with workmates on progress of each task.

**Data**
- [x] Add data to measures spreadsheet @LaurenKirk
~~- [x] Route Data Shipment [copy data to TNRIS Projects share] @LaurenKirk~~
- [x] Data Processin

[2021-07-27 12:11] LaurenKirk opened #60 "2021 Parcel Dataset Collection"
The owner of this issue (person who opened it) is responsible for ensuring each task is completed.
Please reassign issues when work is complete. The owner of this issue is responsible for checking in with workmates on progress of each task.

**Data**
- [x] Add data to measures spreadsheet @LaurenKirk
~~- [x] Route Data Shipment [copy data to TNRIS Projects share] @LaurenKirk~~
- [x] Data Processin

[2021-07-27 12:37] mitchellryant commented on #55
As of July 27.
![thumbnail_image004](https://user-images.githubusercontent.com/8459928/127154692-7fec60f3-62dc-49d2-8c6c-ab552620f837.png)

[2021-07-28 12:05] mitchellryant commented on #60
@LaurenKirk You need to complete the lookup section.

[2021-07-28 12:05] mitchellryant commented on #59
@LaurenKirk You need to complete the lookup section.

[2021-07-28 12:16] LaurenKirk commented on #60
@mitchellryant lookup section complete.

[2021-07-28 12:17] LaurenKirk commented on #59
@mitchellryant lookup section complete.

[2021-07-30 15:40] LaurenKirk commented on #60
@mitchellryant all boxes checked.  gonna close

[2021-07-30 15:40] #60 closed

[2021-07-30 15:40] LaurenKirk commented on #59
@mitchellryant all boxes checked. gonna close

[2021-07-30 15:40] #59 closed

[2021-08-02 13:39] mitchellryant commented on #58
@ThorTheDestroyer Data is live https://data.tnris.org/collection/3e1530dc-d5be-4683-811b-9d4b162f0aa9

[2021-08-06 13:31] mitchellryant commented on #55
**unreadable**
m_2809623_ne_14_060_20201029.jp2
m_2809626_se_14_060_20201029.jp2
m_3210356_ne_13_060_20201001.jp2

m_3210559_sw_13_060_20200523.tif

[2021-08-11 14:45] ThorTheDestroyer opened #61 "2021 McLennan Lidar"
The owner of this issue (person who opened it) is responsible for ensuring each task is completed.
Please reassign issues when work is complete. The owner of this issue is responsible for checking in with workmates on progress of each task.

**Data**
- [x] Add data to measures spreadsheet @ThorTheDestroyer
- [x] Route Data Shipment [copy data to TNRIS Projects share] @ThorTheDestroyer
- [x] Data P

[2021-08-12 18:34] mitchellryant commented on #61
@ThorTheDestroyer please check the collection to make sure it is completely filled out.

[2021-08-13 14:37] ThorTheDestroyer commented on #61
@mitchellryant Let me know if this one works.
[mclennan21_lidar_footprint.zip](https://github.com/TNRIS/incoming-data/files/6983173/mclennan21_lidar_footprint.zip)

[2021-08-13 15:11] ThorTheDestroyer commented on #61
@geochik twitter coverage image.
![mclennan_21_coverage](https://user-images.githubusercontent.com/8398036/129379350-a335a37f-a693-440c-a3f4-4862ccc2b40d.png)

[2021-08-18 12:30] #55 closed

[2021-08-18 16:10] ThorTheDestroyer commented on #61
@geochik twitter link and proposed tweet text.

Now available for download! StratMap 2021 lidar covering portions of McLennan County, Texas.
https://data.tnris.org/collection/7cbe9785-6e63-4428-bd50-56c64cc3b6fc

[2021-08-18 16:24] geochik commented on #61
All the boxes are checked so I am taking the liberty to close this issue!

[2021-08-18 16:24] #61 closed

[2021-08-18 17:58] #58 closed

[2021-09-20 16:15] ThorTheDestroyer opened #62 "2021 Bois D'Arc"
The owner of this issue (person who opened it) is responsible for ensuring each task is completed.
Please reassign issues when work is complete. The owner of this issue is responsible for checking in with workmates on progress of each task.

**Data**
- [ ] Add data to measures spreadsheet @ThorTheDestroyer
- [x] Route Data Shipment [copy data to TNRIS Projects share] @ThorTheDestroyer
- [ ] Data P

[2021-09-20 16:16] ThorTheDestroyer commented on #62
Creating issue now, but currently awaiting final QAQC report.

[2021-11-01 14:01] geochik commented on #62
Tweet complete!

[2021-11-01 14:01] #62 closed

[2022-01-06 15:36] A-M-Pearce opened #63 "Undefined Collection Names within Ticketing SupportSystem"
These two tickets have collections pulled from DataHub with undefined names. I haven't figured out why this has happened, and there has not been any further incidences so far. @ctrepka when you have the time would you please look into this issue?

https://tnris.supportsystem.com/scp/tickets.php?id=40831

https://tnris.supportsystem.com/scp/tickets.php?id=40846

[2022-04-13 12:51] #63 closed

[2022-04-25 15:39] ThorTheDestroyer opened #64 "StratMap 2021 28cm|50cm Bexar & Travis Counties Lidar"
# ***The owner of this issue (person who opened it) is responsible for ensuring each task is completed.***
## ***Please reassign issues when work is complete. The owner of this issue is responsible for checking in with workmates on progress of each task.***

**Data**
- [x] Add data to measures spreadsheet @ThorTheDestroyer
- [x] Route Data Shipment [copy data to TNRIS Projects share] @ThorTheDestr

[2022-04-26 12:05] mitchellryant commented on #64
@ThorTheDestroyer where is it and what is it?

[2022-04-26 12:46] ThorTheDestroyer commented on #64
2277, 2278. It is in state plane.

[2022-04-26 14:00] ThorTheDestroyer commented on #64
renamed dems have been uploaded to port of lasers

[2022-04-26 22:08] mitchellryant commented on #64
@ThorTheDestroyer got an index?

[2022-04-27 13:24] ThorTheDestroyer commented on #64
[travis-bexar-tiles-index.zip](https://github.com/TNRIS/incoming-data/files/8572377/travis-bexar-tiles-index.zip)

[2022-05-16 12:27] mitchellryant opened #65 "StratMap 2022 Laguna Madre"
# ***The owner of this issue (person who opened it) is responsible for ensuring each task is completed.***
## ***Please reassign issues when work is complete. The owner of this issue is responsible for checking in with workmates on progress of each task.***

**Data**
- [ ] Add data to measures spreadsheet @ThorTheDestroyer
- [ ] Route Data Shipment [copy data to TNRIS Projects share] @ThorTheDestr

[2022-05-16 12:29] mitchellryant opened #66 "MRLC 2019 National Land Cover Database"
# ***The owner of this issue (person who opened it) is responsible for ensuring each task is completed.***
## ***Please reassign issues when work is complete. The owner of this issue is responsible for checking in with workmates on progress of each task.***

**Data**
- [ ] Enter dataset on StratMap Incoming data xlsx sheet @ThorTheDestroyer
- [ ] Route Data Shipment (copy data to TNRIS Projects sh

[2022-05-17 13:44] ThorTheDestroyer commented on #64
descriptions reviewed and approved by @gmullins

[2022-05-17 14:12] ThorTheDestroyer commented on #64
@mitchellryant can't start a new footprint collection in the api. here is the json for the footprint.
[travis_bexar_footprint.zip](https://github.com/TNRIS/incoming-data/files/8708951/travis_bexar_footprint.zip)

[2022-05-18 18:37] ThorTheDestroyer commented on #64
![Layout](https://user-images.githubusercontent.com/8398036/169120235-a191184a-8eb5-40e1-bcf8-0aa203ece0b2.png)

[2022-05-18 18:39] ThorTheDestroyer commented on #64
![image](https://user-images.githubusercontent.com/8398036/169120970-cf8c833b-af3b-4d5d-a71c-ed713120ea38.png)

[2022-05-18 18:54] ThorTheDestroyer commented on #64
Twitter Draft:
Now available for download! StratMap 2021 lidar covering portions of Central Texas including high density 12ppsm coverage for the City of Austin.

[2022-05-18 21:37] space-longoria commented on #64
@ThorTheDestroyer how soon can this tweet be published?

[2022-05-19 17:02] mitchellryant commented on #64
@space-longoria the [data set collection](https://data.tnris.org/collection?c=447db89a-58ee-4a1b-a61f-b918af2fb0bb#5.12/29.94/-97.47) is currently available on data.tnris.org, so you can tweet at you convenience!

[2022-05-23 17:08] ThorTheDestroyer commented on #66
@pwblanton Please review the description.

The National Land Cover Database 2019 (NLCD 2019) is a national land cover product created by the Multi-Resolution Land Characteristics (MRLC) Consortium. The data have been clipped for Texas only.

NLCD 2019 provides the capability to assess wall-to-wall, spatially explicit, national land cover changes and trends across the United States from 2001 to 201

[2022-05-23 17:25] pwblanton commented on #66
Write-up is good!

[2022-05-23 18:55] ThorTheDestroyer commented on #66
@lebell @space-longoria
Draft Tweet: Now available for download! 2019 30m National Land Cover Database for Texas.
![image](https://user-images.githubusercontent.com/8398036/169887495-724279ee-176d-423b-b1d1-f8225c20af15.png)

[2022-05-24 13:14] #64 closed

[2022-05-24 15:44] ThorTheDestroyer commented on #65
@pwblanton Please review the below description

This StratMap multi-beam echo sounder bathymetry survey project covers portions of the Laguna Madre over Cameron, Kenedy, and Willacy counties of Texas.  Collection took place October 14, 2021 through December 9, 2021. Data was collected and processed by Geodynamics an NV5 company.  Survey was collected with 100% coverage in the channel and 50 meter

[2022-05-25 14:57] mitchellryant commented on #65
Collection is public.

[2022-05-25 14:57] mitchellryant commented on #66
Collection is public.

[2022-05-26 15:07] space-longoria commented on #66
Added to Tweetdeck. It's scheduled for 1:16PM - Thu 26 May 2022.

Marking as complete.

[2022-05-31 12:58] mitchellryant opened #68 "[Data Update]"
# ***The owner of this issue (person who opened it) is responsible for ensuring each task is completed.***
## ***Please reassign issues when work is complete. The owner of this issue is responsible for checking in with workmates on progress of each task.***

**Data**
- [ ] Download data from source
- [ ] Place data on network or S3
- [ ] Data Processing [renaming file, data organization]
- [ ] Qua

[2022-05-31 13:02] mitchellryant opened #69 "[Data Update]"
# ***The owner of this issue (person who opened it) is responsible for ensuring each task is completed.***
## ***Please reassign issues when work is complete. The owner of this issue is responsible for checking in with workmates on progress of each task.***

**Data**
- [ ] Download data from source
- [ ] Place data on network or S3
- [ ] Data Processing [renaming file, data organization]
- [ ] Qua

[2022-05-31 13:12] mitchellryant opened #70 "[Data Update]"
# ***The owner of this issue (person who opened it) is responsible for ensuring each task is completed.***
## ***Please reassign issues when work is complete. The owner of this issue is responsible for checking in with workmates on progress of each task.***

**Data**
- [ ] Download data from source
- [ ] Place data on network or S3
- [ ] Data Processing [renaming file, data organization]
- [ ] Qua

[2022-05-31 20:55] ThorTheDestroyer commented on #65
![image](https://user-images.githubusercontent.com/8398036/171282896-039bb0cd-3535-49ee-8e66-a59df604ea02.png)

[2022-06-06 13:37] ThorTheDestroyer commented on #65
@lebell @space-longoria

Tweet Draft(picture is above):

Now available for download! StratMap 2021 multi-beam bathymetry survey for portions of the Laguna Madre in Texas.

[2022-06-06 19:10] space-longoria commented on #65
Added to Tweetdeck. It's scheduled for 8:22AM - Tue 7 Jun 2022.

[2022-06-10 14:40] ThorTheDestroyer opened #71 "Collin & Van Zandt Hypsography"
# ***The owner of this issue (person who opened it) is responsible for ensuring each task is completed.***
## ***Please reassign issues when work is complete. The owner of this issue is responsible for checking in with workmates on progress of each task.***
## ***Please remove any task(s) that do not apply***

**Data**
- [x] Place data on network or S3 @ThorTheDestroyer
- [x] Data Processing [rena

[2022-06-10 15:55] #71 closed

[2022-06-27 16:22] csidenblad opened #72 "StratMap 2020 North-Central-TX Contours [Data Update]"
# ***The owner of this issue (person who opened it) is responsible for ensuring each task is completed.***
## ***Please reassign issues when work is complete. The owner of this issue is responsible for checking in with workmates on progress of each task.***
## ***Please remove any task(s) that do not apply***

**Data**
- [x] Data Processing [renaming file, data organization] per given naming conve

[2022-06-27 17:52] mitchellryant commented on #72
@csidenblad please see @ThorTheDestroyer for metadata txt template!

[2022-06-27 19:59] csidenblad commented on #72
@mitchellryant I created new map catalogs to check for the missing tiles. Only tiles that seemed to be missing were over water features. I figured no data were generated and this is why there were missing tiles.

[2022-06-27 20:06] ThorTheDestroyer commented on #72
0-100 missing tiles is normal, but over 300 missing tiles(where full water tiles were already removed in the dems) seems like a lot.  Can you export the bbox coverages for both of the catalogs?

[2022-06-27 20:12] csidenblad commented on #72
I've exported them. Shapefiles are located here:
W:\north-central-tx-contours\QC

[2022-06-27 20:12] mitchellryant commented on #72
all that sounds good, but to me like a Tuesday problem.

[2022-06-27 20:16] mitchellryant commented on #72
3097011 has 80 5ft, but only 1 2ft and no shp for the 2ft.

![image](https://user-images.githubusercontent.com/8459928/176027990-e0d51cab-d093-41e6-86e0-afa4cfcb0d23.png)

[2022-06-27 20:17] ThorTheDestroyer commented on #72
according to the shapes there are 6444 of both 2ft and 5ft.  did some not copy over?

[2022-06-27 20:22] mitchellryant commented on #72
they are not in the shps folders now so if they did not move, then they disappeared like Keyser Söze

[2022-06-27 20:24] csidenblad commented on #72
I can reexport to shape and see if we can generate the missing tiles

[2022-06-27 20:24] mitchellryant commented on #72
seems like only 2ft.

[2022-06-27 20:25] csidenblad commented on #72
@mitchellryant you took my shapefiles :(

[2022-06-28 12:48] csidenblad commented on #72
Awesome!! Thanks Ryan.

[2022-06-28 20:27] #72 closed

[2022-07-07 20:19] csidenblad opened #73 "3d-buildings for stratmap-2021-50cm-bois-darc-reservoir"
# ***The owner of this issue (person who opened it) is responsible for ensuring each task is completed.***
## ***Please reassign issues when work is complete. The owner of this issue is responsible for checking in with workmates on progress of each task.***
## ***Please remove any task(s) that do not apply***

**Data**
- [x] Data Processing [renaming file, data organization] per given naming conve

[2022-07-18 16:43] csidenblad commented on #73
Thank you Ryan for adding zip to API

[2022-07-18 17:37] LaurenKirk opened #74 "2022 StratMap Address Points Dataset Collection"
# ***The owner of this issue (person who opened it) is responsible for ensuring each task is completed.***
## ***Please reassign issues when work is complete. The owner of this issue is responsible for checking in with workmates on progress of each task.***
## ***Please remove any task(s) that do not apply***

**Data**
- [x] Add data to measures spreadsheet @LaurenKirk
- [x] Route Data Shipment [c

[2022-07-18 17:38] LaurenKirk opened #75 "2022 StratMap Parcel Dataset Collection"
# ***The owner of this issue (person who opened it) is responsible for ensuring each task is completed.***
## ***Please reassign issues when work is complete. The owner of this issue is responsible for checking in with workmates on progress of each task.***
## ***Please remove any task(s) that do not apply***

**Data**
- [x] Add data to measures spreadsheet @LaurenKirk
- [x] Route Data Shipment [c

[2022-07-18 17:50] #73 closed

[2022-07-18 17:56] mitchellryant commented on #74
¿Dónde están los datos? @LaurenKirk

[2022-07-18 18:00] LaurenKirk commented on #75
Finalizing stuff.  Aiming to have it all copied over and ready for you in Gorgoroth by Friday at the latest @mitchellryant

[2022-07-19 19:59] csidenblad opened #76 "2022 Rivers, Streams, and Waterbodies Update"
**Data**
- [x] Download data from source @csidenblad
- [x] Add data to measures spreadsheet @csidenblad
- [x] Place data on network or S3 @csidenblad
- [x] Data Processing [renaming file, data organization] per given naming convention @csidenblad
- [ ] Quality Assurance @ThorTheDestroyer

**API\data.tnris.org**
- [x] Upload updated data @mitchellryant
- [x] Update Publication Date ***(if necessary

[2022-07-19 20:00] csidenblad commented on #76
@ThorTheDestroyer Data has been assembled and can be found on gorgoroth/QAQC/StratMap/NHD if you'd like to give it a look over.

[2022-07-21 01:42] mitchellryant commented on #76
@ThorTheDestroyer @csidenblad issues have arisen!

[2022-07-22 19:20] LaurenKirk commented on #75
@mitchellryant All of the land parcel data has been copied to Gorgoroth/QAQC.  I've also included the footprints (shp & geoJSON) and DataHub images (already uploaded on the API).  No Statewide FGDB at this time.  I'll continue down that dark road on Monday and will also update the AGO maps.

@pwblanton can you please review information on the API?  You'll also want to use FireFox web broswer.  Inf

[2022-07-22 19:21] LaurenKirk commented on #74
@mitchellryant All of the address point data has been copied to Gorgoroth/QAQC. I've also included the footprints (shp & geoJSON) and DataHub images (already uploaded on the API). No Statewide FGDB at this time. I'll continue down that dark road on Monday and will also update the AGO maps.

@pwblanton can you please review information on the API? You'll also want to use FireFox web browser. Info a

[2022-07-27 13:06] pwblanton commented on #74
I made a few edits and saved.

[2022-07-27 13:28] LaurenKirk commented on #74
@pwblanton Thank you Patricia!

[2022-07-27 13:30] pwblanton commented on #74
Sorry for the late response… I am definitely not a regular user of GitHub/API.

From: LKirk ***@***.***>
Sent: Wednesday, July 27, 2022 8:29 AM
To: TNRIS/incoming-data ***@***.***>
Cc: Patricia Blanton ***@***.***>; Mention ***@***.***>
Subject: Re: [TNRIS/incoming-data] 2022 StratMap Address Points Dataset Collection (Issue #74)

External: Beware of links/attachments.

@pwblanton<https://github.c

[2022-07-27 19:07] #75 closed

[2022-07-27 19:08] #74 closed

[2022-07-28 18:17] csidenblad opened #77 "usgs-2019-70cm-pecos-dallas contours"
**Data**
- [ ] Add data to measures spreadsheet
- [x] Data Processing [renaming file, data organization] per given naming convention @csidenblad
- [x] Quality Assurance @ThorTheDestroyer

**API\data.tnris.org**
- [x] Upload updated data @mitchellryant @csidenblad

**Download\Prod**
- [x] Move data to production shares @mitchellryant @csidenblad
~~- [ ] Update Web Service and API collection link(s)

[2022-07-29 13:47] ThorTheDestroyer commented on #77
@mitchellryant Contours look great. Ready to publish.

[2022-08-01 16:12] #77 closed

[2022-08-15 14:03] mitchellryant opened #78 "2022 Address Points Statewide"
# ***The owner of this issue (person who opened it) is responsible for ensuring each task is completed.***
## ***Please reassign issues when work is complete. The owner of this issue is responsible for checking in with workmates on progress of each task.***
## ***Please remove any task(s) that do not apply***

**Data**
- [x] Place data on network or S3 **(QAQC\StratMap\AP_LP\2022)**
- [x] Quality

[2022-08-15 14:04] mitchellryant opened #79 "2022 Land Parcels Statewide"
# ***The owner of this issue (person who opened it) is responsible for ensuring each task is completed.***
## ***Please reassign issues when work is complete. The owner of this issue is responsible for checking in with workmates on progress of each task.***
## ***Please remove any task(s) that do not apply***

**Data**
- [x] Place data on network or S3 **(QAQC\StratMap\AP_LP\2022)**
- [x] Quality

[2022-08-15 16:40] csidenblad opened #80 "USGS 2019 70cm Desert Mountains Hypso"
**Data**
- [ ] Add data to measures spreadsheet @ThorTheDestroyer
- [x] Data Processing [renaming file, data organization] per given naming convention @csidenblad
- [ ] Quality Assurance @ThorTheDestroyer

**API\data.tnris.org**
- [x] Upload updated data @csidenblad

**Download\Prod**
- [x] Move data to production shares @csidenblad
- [x] Update Web Service and API collection link(s) ***(if necess

[2022-08-15 18:48] csidenblad commented on #80
@ThorTheDestroyer I left the box to 'Add to measures spreadsheet'; I wasn't sure if SM wanted to capture these as incoming data.

[2022-08-16 12:30] #76 closed

[2022-08-16 14:23] ThorTheDestroyer opened #81 "2022 CAPCOG 12in NCCIR Imagery"
# ***The owner of this issue (person who opened it) is responsible for ensuring each task is completed.***
## ***Please reassign issues when work is complete. The owner of this issue is responsible for checking in with workmates on progress of each task.***
## ***Please remove any task(s) that do not apply***

**Data**
- [x] Enter dataset on StratMap Incoming data xlsx sheet @ThorTheDestroyer
- [x

[2022-08-18 15:08] ThorTheDestroyer commented on #81
@csidenblad just as an fyi, this is a capcog project, stratmap was not involved.

[2022-08-18 15:13] csidenblad commented on #81
@ThorTheDestroyer Thanks for the info Joey. I'll get a collection card up in the API. Will name it 'Capital Area Council of Governments Imagery' and include acquisition year.

[2022-08-18 17:08] ThorTheDestroyer commented on #81
@csidenblad  data has finished uploading

[2022-08-18 19:20] mitchellryant commented on #81
@ThorTheDestroyer band combo?

[2022-08-19 12:54] ThorTheDestroyer commented on #81
@csidenblad can you please create a footprint collection card as well?

[2022-08-19 15:08] ThorTheDestroyer commented on #81
@csidenblad @mitchellryant  The index that was on the drive is incorrect. Currently working on obtaining the correct index.

[2022-08-22 14:17] #80 closed

[2022-08-23 20:12] LaurenKirk commented on #78
@csidenblad @mitchellryant Address Points look good to go!

[2022-08-23 20:20] LaurenKirk commented on #79
@mitchellryant @csidenblad   QAQC...**FAILED**
![qaqc_fail](https://user-images.githubusercontent.com/31768897/186257809-b2bf5cf3-b8ef-4b7f-b824-c9bb48bde31a.PNG)

[2022-08-26 12:10] ThorTheDestroyer commented on #81
[2022_CAPCOG_Tile-Layout.zip](https://github.com/TNRIS/incoming-data/files/9433026/2022_CAPCOG_Tile-Layout.zip)

[2022-08-26 12:29] ThorTheDestroyer commented on #81
@csidenblad can you please create a footprint collection card?

Also, CAPCOG has requested that we have this data available by September 2nd.  Can you confirm if that will be possible? After Patricia reviews, and I can upload the footprint, everything should be done on my end.

[2022-08-26 12:39] mitchellryant commented on #81
it is good that they have goals!

[2022-08-26 13:00] ThorTheDestroyer commented on #81
@pwblanton can you please review the api description at your convenience?

[2022-08-29 13:54] csidenblad commented on #81
Thanks for the update @ThorTheDestroyer. I'll start zipping it all up today and will reach out as soon as it's up.

[2022-08-30 20:17] mitchellryant commented on #81
@ThorTheDestroyer ,

@csidenblad  was out sick today so finished it up for her. should be on the site tomorrow.

[2022-08-31 12:03] ThorTheDestroyer commented on #81
Fantastic, much appreciated.

[2022-09-08 16:49] #78 closed

[2022-09-21 16:00] #81 closed

[2022-09-21 16:11] mitchellryant opened #82 "NAIP 2020 [Data Update}"
# ***The owner of this issue (person who opened it) is responsible for ensuring each task is completed.***
## ***Please reassign issues when work is complete. The owner of this issue is responsible for checking in with workmates on progress of each task.***
## ***Please remove any task(s) that do not apply***

**Data**
- [ ] Download data from source @mitchellryant
- [ ] Add data to measures sprea

[2022-10-04 21:05] csidenblad opened #83 "StratMap 2022 50cm Ellis Hill Johnson Navarro Lidar"
**Data**
- [x] Add data to measures spreadsheet @ThorTheDestroyer
- [x] Route Data Shipment [copy data to TNRIS Projects share] @ThorTheDestroyer
- [x] Data Processing [renaming file, data organization, data conversion]  @ThorTheDestroyer
- [x] Creation of derivative products [hypso and metadata] @ThorTheDestroyer
- [x] Quality Assurance @ThorTheDestroyer

**API\data.tnris.org**
- [x] Create API c

[2022-10-07 13:50] ThorTheDestroyer commented on #83
@csidenblad The supplemental .zip exceed the limit even after removing the control and checkpoint pictures.  Please add the .zip in QAQC/stratmap/lidar/JHEN to the API.

Also please add the items in QAQC/Stratmap/lidar/JEHN/add_to_reports to the reports folder for that collection on the Data drive.

[2022-10-07 15:00] ThorTheDestroyer commented on #83
@pwblanton Please review the description at your convenience.
https://api.tnris.org/admin/lcd/collection/c869398a-326c-4e87-aa54-d1aad28d7ae6/change/

[2022-10-10 14:42] pwblanton commented on #83
All looks good!

[2022-10-11 12:40] ThorTheDestroyer opened #84 "South Llano River Topo-Bathy Lidar"
# ***The owner of this issue (person who opened it) is responsible for ensuring each task is completed.***
## ***Please reassign issues when work is complete. The owner of this issue is responsible for checking in with workmates on progress of each task.***
## ***Please remove any task(s) that do not apply***

**Data**
- [x] Add data to measures spreadsheet @ThorTheDestroyer
- [x] Route Data Shipm

[2022-10-11 15:59] csidenblad commented on #83
@ThorTheDestroyer supplemental has been added and collection made public

[2022-10-12 15:45] LaurenKirk opened #85 "2022 GLO ReGen - State Land Grid Project Phase 1"
# ***The owner of this issue (person who opened it) is responsible for ensuring each task is completed.***
## ***Please reassign issues when work is complete. The owner of this issue is responsible for checking in with workmates on progress of each task.***
## ***Please remove any task(s) that do not apply***

**Data**
- [x] Add data to measures spreadsheet @LaurenKirk
- [x] Route Data Shipment [c

[2022-10-12 16:19] csidenblad commented on #85
Collection has been created in the API
https://api.tnris.org/admin/lcd/collection/712c0db9-b756-4d5e-9213-03b4021454d9/change/

[2022-10-12 16:43] mitchellryant commented on #85
@LaurenKirk we will need name the sums it up the collection name.

We try to avoid misc punctuation and confusing words and abbreviations  "ReGen".
We also "try" to avoid agency names and abbreviations in collection names.

workshop something with your fellow SM'er or maybe the new marketing specialist.

![image](https://user-images.githubusercontent.com/8459928/195400835-d3c2e31d-29cd-46fc-87bf-a

[2022-10-12 19:58] csidenblad commented on #84
collection created in API
https://api.tnris.org/admin/lcd/collection/9298508c-7ff4-43b4-abbe-84f279a5da8e/change/

[2022-10-13 14:28] csidenblad commented on #84
@ThorTheDestroyer Ryan mentioned that the last bathy collection was only partially published for download. Just want to confirm that I can publish the full collection.

[2022-10-13 17:45] mitchellryant commented on #84
@ThorTheDestroyer
![image](https://user-images.githubusercontent.com/8459928/195668408-0e8bd460-28ce-4485-8bde-30345e9fca40.png)

[2022-10-17 13:44] ThorTheDestroyer commented on #84
@csidenblad yes, publish full collection. Please also upload the supplemental Reports_add-to-api-please.zip that was too large for me to upload. It is located below on the QC drive.

\stratmap\lidar\southllano

@pwblanton please review the api description.

[2022-10-17 14:11] pwblanton commented on #84
I made a few edits.
This StratMap topo-bathy lidar project covers portions of the South Llano River in Edwards and Kimble counties, south of Junction, Texas. This project was managed by the Texas Strategic Mapping (StratMap) Program and utilized the StratMap contracts held by the Texas Department of Information Resources (DIR). Bathymetric Lidar Collection took place January 22, 2022, and topograp

[2022-10-31 15:33] #85 closed